export(intersect2)
export(MergeGUI)
exportPattern("^[^\\.]")
export(scale_kstest)
export(scale_missing)
export(scale_rpart)
export(simplifynames)
export(var.class)
import(cairoDevice)
import(ggplot2)
import(gWidgetsRGtk2)
